.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color 0.15s ease-out;
}

.sidebarOption:hover {
  background-color: #e8f5fe;
  border-radius: 30px;
  color: var(--twitter-color);
}

.sidebarOption > h2 {
  padding-left: 20px;
  font-size: 20px;
  margin-right: 20px;
  font-weight: 800;
}
